@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: black;
  font-family: Arial, sans-serif;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

canvas {
  background: none !important;
  z-index: -1;
}

.bg-change {
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(0, 0, 0, 0.7);
}


@keyframes colorChange {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 996px) {
  .index-module_type__E-SaG {
    font-size: 56px;
  }
}

@media screen and (min-width: 720px) and (max-width: 996px) {
  .index-module_type__E-SaG {
    font-size: 36px;
  }
}

@media screen and (max-width: 720px) {
  .index-module_type__E-SaG {
    font-size: 28px;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(17, 20, 29);
}

::-webkit-scrollbar-thumb {
  background-color: #4c5a88;
}

.port-item:hover .description {
  bottom: 0px;
}