@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

canvas {
  background-color: transparent !important;
  z-index: -1;
}

.bg-change {
  animation-name: colorChange;
  background-color: rgba(0, 0, 0, 0.6);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes colorChange {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  33.3% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  66.6% {
    background-color: rgba(0, 0, 0, 1);
  }
}
